
.titulo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 30px;
}
 
.btn {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}
 
#root {
    flex-direction: column;

}
 
/*hero section*/
.hero-frame {
    overflow: hidden;
    /*impede que a imagem vaze do quadro*/
}
 
.hero img,
.hero {
    /*Aplica propriedade cover para recortar parte da imagem (e não distorcê-lá,
    definindo seu ponto de foco a partir da propriedade object-position*/
    /*centraliza o recorte da imagem*/
    height: 59vh;
    object-fit: cover;

    
}
 
/*Responsividade media-query*/
@media (max-width: 576px) {
 
    .hero img,
    .hero {
        height: 50vh;
    }
}