.titulo{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 50px;
}

.btn{
    font-family: "Inter", sans-serif;
    font-weight: 700px;
    font-style: normal;
    font-size: 15px;
}
#root{
    flex-direction: column;
    margin: auto;
}
.hero-frame{
    height: 40vh;
    /*max-width: 2000px; /*Limite de largura*/
    margin-top: 45 auto;
    overflow: hidden; /*Impede que a largura da imagem vaze do quadro*/
    background-color: #7caddf; /*Aplicar cor ao fundo quando a imagem não ocupa todo o espaço*/
}
.hero-img{
    width: 100%;
    height: 100%;
    /*Aplcia propriedade cover para que a imagem preencha o quadro*/
    object-fit: cover;
    object-position: center;/*Centraliza o recorte da imagem*/
}

