input{
    border-style: solid ;
    border-color: rgb(0, 89, 255);
    border-radius: 10px;
    margin-bottom: 15px;
}
input:focus {
    outline: none;
    border: 2px solid rgb(0, 89, 255);

}


.btn-primary:hover{
    background-color: rgb(43, 90, 143);
    border-color: rgb(50, 90, 153);
}